<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Database" value="DeviceData" />
    <add key="Collection" value="Temperatures" />

    <!-- Settings for MongoDB -->
    <add key="Address" value="168.63.99.236" />
    <add key="Port" value="27017" />
    <add key="Username" value="deviceadmin" />
    <add key="Password" value="Pa55w.rd" />
    <!-- End of settings for MongoDB -->

    <!-- Settings for CosmosDB Mongo API -->
    <!--add key="Address" value=""/>
    <add key="Port" value="10255"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/ -->
    <!-- End of settings for CosmosDB Mongo API -->
  </appSettings>
</configuration>